:root {
  --brand-color-one: #2196f3;
  --brand-color-two: #000000;
  --brand-second-color-two: #ffffff;
  --main-color: #212121;
  --second-color: #757575;
  --accent-color: #2196f3;
  --main-backgroundcolor: #ffffff;
  --second-backgroundcolor: #e5e5e5;
  --accent-backgroundcolor: #f5f4fa;
  --tagline-backgroundcolor: #2f303a;
  --tagline-color: #ffffff;
  --btn-text-color: #ffffff;
  --btn-accent-backgroundcolor: #188ce8;
  --section-padding: 30px;
  --typical-distance: 30px;
  --margin-section: 215px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--main-backgroundcolor);
}

a:focus,
button:focus {
  outline-color: var(--accent-color);
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}
.link::visited {
  text-decoration: none;
}

.section {
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -------------BRAND----------- */

.brand-link {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.brand-text-onehalf {
  color: var(--brand-color-one);
}

.brand-text-twohalf {
  color: var(--brand-color-two);
}
.brand-text-twohalf-second {
  color: var(--brand-second-color-two);
}

.footer-brand-link {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.btn-fixed {
  min-width: 200px;
  height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;

  color: var(--btn-text-color);
  background-color: var(--accent-color);
  cursor: pointer; 
}
/* -------------HEADER----------- */

.header {
  background-color: var(--main-backgroundcolor);
  border-bottom: 1px solid #ececec;
  height: 80px;
}

.header .container {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-content: center;
  height: 80px;
}

.header-list {
  display: flex;
  margin: 0 auto;
}

.header-item {
  display: flex;
  align-content: center;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-list {
  display: flex;
  align-content: center;
}

.header-contacts-item {
  display: flex;
  align-content: center;
  color: var(--second-color);
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-top: 32px;
  padding-bottom: 28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-currentlink {
  display: flex;
  flex-direction: column;
  color: var(--accent-color);
  border-bottom: 4px solid var(--accent-color);
}

/* .header-currentlink::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
} */


.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-contact {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-icon {
  fill: currentColor;
  width: 16px;
  height: 16px;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

/* -------------TAGLINE----------- */

.tagline {
  background-color: var(--tagline-backgroundcolor);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  max-height: 600px;
  margin: 0 auto;
  padding: 200px 0;
}

.tagline-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tagline-color);
  max-width: 700px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--typical-distance);
}

.tagline-btn {

  padding: 10px 32px;

  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tagline-btn:hover,
.tagline-btn:focus {
  background-color: var(--btn-accent-backgroundcolor);
}
/* -------------STRENGTHS----------- */

.strengths {
  padding-top: 94px;
}

.strengths-list {
  display: flex;
  justify-content: center;
}

.strengths-item:not(:last-child) {
  margin-right: var(--typical-distance);
  max-width: 270px;
}

.strengths-accent {
  border-radius: 4px;
  border: none;
  background-color: var(--accent-backgroundcolor);
  width: 270px;
  height: 120px;
  margin-bottom: var(--typical-distance);
  display: flex;
  align-items: center;
  justify-content: center;
}

.strenghts-icon {
  width: 70px;
  height: 70px;
}

.strengths-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}
.strengths-item-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-color);
}

/* -------------ABOUT----------- */

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 50px;
}

.about-list {
  display: flex;
}

.about-item:not(:last-child) {
  margin-right: var(--typical-distance);
}

.about-item {
  position: relative;
}

.about-item-title {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
}

/* -------------co-worker----------- */
.co-worker {
  background-color: var(--accent-backgroundcolor);
  padding: 94px 0;
}

.co-worker-item {
  width: 270px;
  height: 428px;
}

.co-worker-comment {
  padding-top: var(--typical-distance);
  padding-bottom: var(--typical-distance);
}

.co-worker-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 10px;
}

.co-worker-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-color);
  margin-bottom: 16px;
}

.co-worker-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 50px;
}

.co-worker-list {
  display: flex;
}

.co-worker-item {
  background-color: var(--main-backgroundcolor);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.co-worker-item:not(:last-child) {
  margin-right: var(--typical-distance);
}

.co-worker-soc-list {
  display: flex;
  justify-content: center;
  background-color: var(--main-backgroundcolor);
}

.co-worker-soc-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: var(--main-backgroundcolor);
  margin-left: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.co-worker-soc-item:first-child {
  margin-left: 0;
}

.co-worker-soc-item:hover,
.co-worker-soc-item:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.co-worker-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: currentColor;
}

.co-worker-icon {
  fill: currentColor;
}

/* -------------partners----------- */
.partners {
  padding: 94px 0;
}

.partners-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 50px;
}

.partners-list {
  display: flex;
}

.partners-item {
  margin-left: 30px;
}

.partners-item:first-child {
  margin-left: 0;
}

.partners-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-link:focus,
.partners-link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}


.partners-icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

/* -------------FILTER----------- */
.portfolio {
  padding-top: 94px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--accent-backgroundcolor);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* -------------GALLERY----------- */

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  border-top: none;
}

.gallery-item {
  flex-basis: calc(100% / 3 - var(--typical-distance));
  margin: calc(var(--typical-distance) / 2);
}

.gallery-link {
  box-shadow: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-item-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.gallery-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.gallery-item-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-color);
}

.gallery-item-slide {
  position: relative;
  overflow: hidden;
}

.gallery-item-about {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  height: 100%;
  overflow: auto;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:focus .gallery-item-about,
.gallery-link:hover .gallery-item-about {
  transform: translateY(0%);
}

.gallery-item-about::-webkit-scrollbar {
  width: 4px;
}

.gallery-item-about::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.gallery-item-about::-webkit-scrollbar-thumb {
  background-color: rgb(33, 100, 255);
  outline: 1px solid slategrey;
}

/* -------------FOOTER----------- */

.footer {
  background-color: var(--tagline-backgroundcolor);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-brand-link {
  display: block;
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link-geo {
  line-height: 1.71;
  color: var(--tagline-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus,
.footer-link-geo:hover,
.footer-link-geo:focus {
  color: var(--accent-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-social {
  margin-left: 70px;
  margin-right: 94px;
}

.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-item {
  margin-left: 10px;
}

.footer-social-item:first-child {
  margin-left: 0;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}


.footer-social-icon {
  fill: currentColor;
}

.footer-distribution {
  width: 570px;
}

.footer-distribution-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-distribution-form {
  display: flex;
  justify-content: space-between;
}

.footer-distribution-email-text {
  margin-right: 12px;
  width: 100%;
}

.footer-email-input {
  height: 50px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 15px;
  color: var(--main-backgroundcolor);
}

.footer-email-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-add-email-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-add-email-btn:hover,
.footer-add-email-btn:focus {
  background-color: var(--btn-accent-backgroundcolor);
}

.footer-add-email-icon {
  fill: currentColor;
  margin-left: 10px;
}

/*-------------MODAL----------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 28, 38, 0.252);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.backdrop.is-hidden .modal {
  transform: scale(0) rotate(-360deg);
}

.modal {
  position: absolute;
  top: calc( ( 100% - 581px )  / 2 );
  left: calc( ( 100% - 528px )  / 2 );
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;

  transform: scale(1) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 40px;

}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.modal-close-icon {
  fill: currentColor;
  transition: 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  cursor: pointer;
  color: var(--btn-accent-backgroundcolor);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  color: var(--main-color);
  margin-bottom: 12px;
}

.modal-group-input {
 display: flex;
 flex-direction: column; 
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-input-centre {
  position: relative;
  padding: 12px 0px;
  margin-bottom: 10px;
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--main-color);
  transition: 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  z-index: -1; 
}

.modal-label-text {
  margin-bottom: 4px;
}


.modal-input {
  height: 40px;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline-color:inherit;
  transition: 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.modal-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid var(--accent-color);
}

.modal-input:focus {
  outline-color: var(--accent-color);
}

.modal-input:hover~.modal-input-icon,
.modal-input:focus~.modal-input-icon {
  fill: var(--accent-color);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.modal-label-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-check-icon {
  margin-right: 7px;
  fill: transparent;
  border: 1px solid var(--main-color);
  border-radius: 2px;
  transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-input-chek {
  position: absolute;
  z-index: -9999;
  opacity: 0;
} */

.modal-input-chek:checked~.modal-check-icon {
  fill: var(--main-backgroundcolor);
  background-color: var(--accent-color);
  border: none;
}

.modal-check-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-color);
}

.modal-link-agreement {
  font-size: 14px;
  line-height: 1.71;
  text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 5px;
}

.modal-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: var(--btn-accent-backgroundcolor);
}


.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
  padding-right: 17px;
}
