.strengths {
    padding-top: 94px;
    &-list {
      display: flex;
      justify-content: center;
    }
    &-item:not(:last-child) {
      margin-right: var(--typical-distance);
      max-width: 270px;
    }
    &-accent {
      border-radius: 4px;
      border: none;
      background-color: var(--accent-backgroundcolor);
      width: 270px;
      height: 120px;
      margin-bottom: var(--typical-distance);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-icon {
      width: 70px;
      height: 70px;
    }
    &-item-title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      color: var(--main-color);
      margin-bottom: 10px;
    }
    &-item-text {
      font-size: 14px;
      line-height: 1.71;
      color: var(--second-color);
    }
  }
  
  